{% extends 'base.html.twig' %}
{% block content %}
    <div class="header">
    <h2>My To Do List</h2>
    <form action="{{ path('create_task') }}" method="POST">
        <input name="title" type="text" id="myInput" placeholder="Task title.."/>
        <button type="submit" class="addBtn">Add a task</button>
    </form>
</div>
    <ul>
        <li>
            <a href="{{ path('switch-status',{'id':1}) }}"><span class="task-list-item">Do shopping</span></a>
            <a onlick="return confirm('Are you sure to delete?')" href="{{ path('task_delete',{'id':1}) }}">
                <span class="close">X</span>
            </a>
        </li>
        <li>
            <a href="{{ path('switch-status',{'id':2}) }}"><span class="task-list-item">Prepare meal</span></a>
            <a onlick="return confirm('Are you sure to delete?')"href="{{ path('task_delete',{'id':2}) }}">
                <span class="close">X</span>
            </a>
        </li>
    </ul>
{% endblock %} 